.block {
    width: auto;
    text-align: center;
}

.header {
    color: rgb(255, 182, 255);
}

.field {
    width: 300px;
    height: 25px;
}

.add {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.list {
    width: auto;
    margin: 30px;
    text-align: left;
}




.task {
    display: flex;
    width: auto;

    background-color: rgb(255, 182, 255);

    margin-bottom: 10px;
    padding: 5px;
}

.status {
    accent-color: rgb(129, 129, 129);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.task-text {
    display: inline-block;
    width: auto;
    flex: 1;

    font-size: 20px;
}

.del {
    background-color: #fdeef500;
    border:none;

    color:rgb(129, 129, 129);
    align-self: flex-start;

    cursor:pointer;
}




.completed .task-text {
    text-decoration: line-through;
    color:rgb(129, 129, 129)
}




